/vendor/
**/bin/
**/obj/
**/node_modules/
**/.vs
**/.idea
**/.ionide
*.swp
Pulumi.*.yaml
yarn.lock
ci-scripts
nuget/
coverage.txt


sdk/dotnet/version.txt
sdk/java/.gradle
sdk/java/build/
sdk/java/build.gradle
sdk/python/venv
