[tools]
go = "latest" # Will read version from go.mod.
pulumi = "3.128.0"
node = "22"
dotnet = "6"
python = "3.11.9"
java = "temurin-11"
gradle = "7.6"
golangci-lint = "1.58.1"
"go:github.com/pulumi/schema-tools" = "v0.6.0"
"go:github.com/gotesttools/gotestfmt/v2/cmd/gotestfmt" = "v2.5.0"
"go:github.com/pulumi/pulumictl/cmd/pulumictl" = "a1b89aaf4299fe5bc78e140fc60eba79088b3dc5" # blampe/replace branch doesn't work?

[env]
# TODO(https://github.com/jdx/mise/issues/1898): create = true
_.python.venv = { path = "venv", create = false }
CGO_ENABLED = "0"

[settings]
experimental = true    # Enable Go backend.
python_compile = false # Don't build Python from source.
